In [2]:
import pandas as pd
musics = pd.read_csv('music.csv')
musics

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [4]:
x= musics.drop(columns =["genre"])
x

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [5]:
y = musics["genre"]
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [79]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, mean_absolute_error, mean_squared_error, r2_score 


label_encoder=  LabelEncoder()
y_encoder = label_encoder.fit_transform(y);
x_train, x_test, y_train, y_test = train_test_split(x, y_encoder, test_size = 0.6, random_state = 42)

model = DecisionTreeClassifier()
model.fit(x_train, y_train);
y_pred = model.predict(x_test)

y_pred_labels = label_encoder.inverse_transform(y_pred)

print(y_pred_labels)

accuracy = model.score(x_test, y_test);
print(f"Accuracy: {accuracy * 100:.15f}%")

# precision, recall , f1 score

precision = precision_score(y_test, y_pred, average='macro')
recall = recall_score(y_test, y_pred, average ="macro")
f1 = f1_score(y_test, y_pred, average="macro")

print(f"precidion : {precision:.2f}")
print(f"recall : {recall:.2f}")
print(f"f1 score  : {f1:.2f}")

['Jazz' 'Jazz' 'Classical' 'Jazz' 'Jazz' 'Acoustic' 'Classical'
 'Classical' 'Acoustic' 'Jazz' 'Dance']
Accuracy: 63.636363636363633%
precidion : 0.58
recall : 0.70
f1 score  : 0.58

C:\Users\edsnk\AppData\Roaming\Python\Python312\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))